.menu-item() {
  color: #eee;
  outline: none;
  text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

#mod_main_menu {
  #main_menu_carousel {
    height: 100%;

    .carousel-inner {
      background: transparent;
      height: 100%;

      .item-bg {
        width: 100%;
        height: 100%;
      }

      .item {
        height: 100%;

        .carousel-caption {
          width: 100%;
          background: fade(#303030, 90%);
          left: 0;
          right: 0;

          a {
            .menu-item() !important;
          }
        }
      }
    }
  }
}
