#mod_main_menu #main_menu_carousel {
  height: 100%;
}
#mod_main_menu #main_menu_carousel .carousel-inner {
  background: transparent;
  height: 100%;
}
#mod_main_menu #main_menu_carousel .carousel-inner .item-bg {
  width: 100%;
  height: 100%;
}
#mod_main_menu #main_menu_carousel .carousel-inner .item {
  height: 100%;
}
#mod_main_menu #main_menu_carousel .carousel-inner .item .carousel-caption {
  width: 100%;
  background: rgba(48, 48, 48, 0.9);
  left: 0;
  right: 0;
}
#mod_main_menu #main_menu_carousel .carousel-inner .item .carousel-caption a {
  color: #eee !important;
  outline: none !important;
  text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.2) !important;
  text-decoration: none !important;
}
