div#main_menu_carousel.carousel.slide(data-interval="false")
  .carousel-inner
    each item, i in items
        .item(class="#{i === 0 ? 'active': ''}")
          .item-bg(style="background: url(#{_pwd + item.background});", class="#{i !== 0 ? 'fade' : 'fade in'}")
          .carousel-caption
            a(href="#", data-intent="#{item.intent}"): h1= item.label

  a.left.carousel-control(href="#main_menu_carousel", role="button", data-slide="prev")
  a.right.carousel-control(href="#main_menu_carousel", role="button", data-slide="next")
